---
import { Image } from "astro:assets";
import ctaImg2 from "../img/ctaimg2.png";
import ctaImg1 from "../img/ctaimg1.png";
import ctaImg3 from "../img/ctaimg3.png";
import ctaImg4 from "../img/ctaimg4.png";
import ctaImg5 from "../img/ctaimg5.png";
---

<!-- First Card -->
<div class="px-4 mx-auto max-w-screen-xl justify-center flex text-start">
  <!-- Section CTA -->
  <section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-8xl px-5 py-16 md:px-10 md:py-24">
      <!-- Component-->
      <div class="grid items-center gap-8 sm:gap-16 lg:grid-cols-2 border-4">
        <div>
          <Image
            src={ctaImg1}
            alt="A bird sitting on a nest of eggs."
            width="800"
            class="mx-auto inline-block h-full w-full max-w-2xl"
          />
        </div>
        <div class="px-10">
          <h2 class="mb-4 max-w-2xl text-2xl font-bold md:text-3xl">
            Amsterdam Prince Island by YAYS
          </h2>
          <p class="mb-6 max-w-lg text-sm text-[#636262] sm:text-base lg:mb-12">
            As YAYS say - welcome to the neighbourhood! And with that, we both
            agree. While staying at YAYS, you don't just visit a city, you get
            to experience the city as a local. Their concierge boutique
            apartments are located in the most delightful neighbourhoods of
            Amsterdam, with quick access to the loveliest shops, boutiques,
            exquisite restaurants, bars, and charming secret spots yet
            undiscovered by tourists.
          </p>
          <div class="space-x-6 justify-between flex">
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Starting Price</a
            >
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Unite Type</a
            >
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Avalability</a
            >
          </div>
          <div class="space-y-6 justify-end flex lg:pt-24">
            <a
              href="/apartments"
              class="inline-block items-center bg-Primary-Color px-12 py-3 text-center font-semibold rounded-xl text-white"
              >Explore</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- First Card -->

<!-- Second Card -->
<div class="px-4 mx-auto max-w-screen-xl justify-center flex text-start">
  <!-- Section CTA -->
  <section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-8xl px-5 py-16 md:px-10 md:py-24">
      <!-- Component-->
      <div class="grid items-center gap-8 sm:gap-16 lg:grid-cols-2 border-4">
        <div>
          <Image
            src={ctaImg2}
            alt="A bird sitting on a nest of eggs."
            width="800"
            class="mx-auto inline-block h-full w-full max-w-2xl"
          />
        </div>
        <div class="px-10">
          <h2 class="mb-4 max-w-2xl text-2xl font-bold md:text-3xl">
            YAYS Amsterdam Maritime
          </h2>
          <p class="mb-6 max-w-lg text-sm text-[#636262] sm:text-base lg:mb-12">
            YAYS Maritime, a part of YAYS group, is based just east from the old
            city centre, on the Oostenburger island, which was built by the
            Dutch East India Company in the 17th century to house warehouses and
            shipyards. YAYS apartments are located in an old steam engine
            factory, dating to the early 19th century,
          </p>
          <div class="space-x-6 justify-between flex">
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Starting Price</a
            >
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Unite Type</a
            >
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Avalability</a
            >
          </div>
          <div class="space-y-6 justify-end flex lg:pt-24">
            <a
              href="#"
              class="inline-block items-center bg-Primary-Color px-12 py-3 text-center font-semibold rounded-xl text-white"
              >Explore</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Second Card -->

<!-- third Card -->
<div class="px-4 mx-auto max-w-screen-xl justify-center flex text-start">
  <!-- Section CTA -->
  <section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-8xl px-5 py-16 md:px-10 md:py-24">
      <!-- Component-->
      <div class="grid items-center gap-8 sm:gap-16 lg:grid-cols-2 border-4">
        <div>
          <Image
            src={ctaImg3}
            alt="A bird sitting on a nest of eggs."
            width="800"
            class="mx-auto inline-block h-full w-full max-w-2xl"
          />
        </div>
        <div class="px-10">
          <h2 class="mb-4 max-w-2xl text-2xl font-bold md:text-3xl">
            YAYS Amsterdam Docklands
          </h2>
          <p class="mb-6 max-w-lg text-sm text-[#636262] sm:text-base lg:mb-12">
            The latest addition to the Amsterdam portfolio now offers 85
            serviced apartments. An example of the architectural vitality of the
            Eastern Docklands area, an area with human-made peninsulas that used
            to be an extension of the port of Amsterdam and an industrial area -
            now an emerging neighbourhood for residential and business purposes.
            The Cruquius peninsula offers many stories to tell. Apartments vary
            in size and can accommodate between 2 and 4 guests depending on the
            type of unit. Each property comes fully furnished and with a fully
            equipped kitchen to make your stay comfortable and with a homey
            feeling.
          </p>
          <div class="space-x-6 justify-between flex">
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Starting Price</a
            >
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Unite Type</a
            >
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Avalability</a
            >
          </div>
          <div class="space-y-6 justify-end flex lg:pt-8">
            <a
              href="#"
              class="inline-block items-center bg-Primary-Color px-12 py-3 text-center font-semibold rounded-xl text-white"
              >Explore</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- third Card -->

<!-- fourth Card -->
<div class="px-4 mx-auto max-w-screen-xl justify-center flex text-start">
  <!-- Section CTA -->
  <section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-8xl px-5 py-16 md:px-10 md:py-24">
      <!-- Component-->
      <div class="grid items-center gap-8 sm:gap-16 lg:grid-cols-2 border-4">
        <div>
          <Image
            src={ctaImg4}
            alt="A bird sitting on a nest of eggs."
            width="800"
            class="mx-auto inline-block h-full w-full max-w-2xl"
          />
        </div>
        <div class="px-10">
          <h2 class="mb-4 max-w-2xl text-2xl font-bold md:text-3xl">
            Premier Suites Plus - Amsterdam
          </h2>
          <p class="mb-6 max-w-lg text-sm text-[#636262] sm:text-base lg:mb-12">
            At Premier Suites Amsterdam, guests will quickly settle at home as
            each property offers all the means for a relaxing travel experience.
            Outside our front door, you will find yourself in the vibrant
            Amsterdam South Axis. Your local grocery store is just around the
            corner, and the coffee bar is only a 25m walk away. Board tram 5,
            just in front of our entrance, and get whisked away to Museum Square
            in less than 12 minutes.
          </p>
          <div class="space-x-6 justify-between flex">
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Starting Price</a
            >
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Unite Type</a
            >
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Avalability</a
            >
          </div>
          <div class="space-y-6 justify-end flex lg:pt-8">
            <a
              href="#"
              class="inline-block items-center bg-Primary-Color px-12 py-3 text-center font-semibold rounded-xl text-white"
              >Explore</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- fourth Card -->

<!-- fifth Card -->
<div class="px-4 mx-auto max-w-screen-xl justify-center flex text-start">
  <!-- Section CTA -->
  <section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-8xl px-5 py-16 md:py-24">
      <!-- Component-->
      <div class="grid items-center gap-8 sm:gap-16 lg:grid-cols-2 border-4">
        <div>
          <Image
            src={ctaImg5}
            alt="A bird sitting on a nest of eggs."
            width="800"
            class="mx-auto inline-block h-[600px] w-full max-w-2xl"
          />
        </div>
        <div class="px-10">
          <h2 class="mb-4 max-w-2xl text-2xl font-bold md:text-3xl lg:pt-8">
            Citadines Sloterdijk Station Amsterdam
          </h2>
          <p class="mb-6 max-w-lg text-sm text-[#636262] sm:text-base lg:mb-12">
            Ideally located in the Amsterdam-West district, our serviced
            residence Amsterdam Sloterdijk is close to all amenities. You can
            easily reach Amsterdam Sloterdijk station, the hub of all public
            transport in the city, within 3 minutes walk. The extensive network
            of buses, trams and metro will make it easy for you to reach the
            centre of Amsterdam and visit the city and its surroundings. Access
            to the most emblematic places in the capital of the Netherlands,
            such as the Van Gogh Museum or the Anne Frank House, will be quick
            and easy, allowing you to walk around with peace of mind and
            relaxation.
          </p>
          <div class="space-x-6 justify-between flex">
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Starting Price</a
            >
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Unite Type</a
            >
            <a
              href="#"
              class="inline-block items-center border-2 border-Primary-Color px-6 py-3 text-center font-semibold rounded-xl text-Primary-Color"
              >Avalability</a
            >
          </div>
          <div class="space-y-6 justify-end flex py-8">
            <a
              href="#"
              class="inline-block items-center bg-Primary-Color px-12 py-3 text-center font-semibold rounded-xl text-white"
              >Explore</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- fifth Card -->
