---
import { Image } from "astro:assets";
import bedImg from "../img/bed.svg";
import bikeImg from "../img/bike.svg";
import chatImg from "../img/chat.svg";
import clearImg from "../img/clear.svg";
import soupImg from "../img/soup.svg";
import timeImg from "../img/time.svg";
---

<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Title -->
    <!-- Title -->
    <div class="px-4 lg:py-16 py-8 mx-auto max-w-screen-xl text-center">
      <h1
        class="lg:mb-4 text-4xl font-medium tracking-tight leading-none text-Primary-Blue md:text-5xl lg:text-6xl"
      >
        Features of the Building<span class="text-Primary-Accent">.</span>
      </h1>
    </div>

    <div
      class="relative items-center w-full px-5 mx-auto md:px-12 lg:px-16 max-w-screen-xl"
    >
      <div class="max-w-xl py-4 lg:py-12 mx-auto text-left lg:max-w-screen-xl">
        <div>
          <div
            class="grid grid-cols-2 gap-3 lg:gap-12 text-center lg:grid-cols-3 lg:space-y-0"
          >
            <div
              class="bg-Primary-Color h-[250px] py-16 rounded-xl drop-shadow-lg cursor-pointer transform
              transition duration-1000 hover:scale-95"
            >
              <div>
                <div
                  class="flex items-center justify-center w-12 h-12 mx-auto text-black rounded-xl"
                >
                  <Image
                    src={chatImg}
                    alt="apartment img"
                    width="64"
                    class="inline-block mb-2"
                  />
                  <!-- <img src="/src/img/chat.svg" alt="" /> -->
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-white">
                  Chat with <br /> YAYS Insiders
                </p>
              </div>
            </div>
            <div
              class="bg-white h-[250px] py-16 rounded-xl drop-shadow-lg cursor-pointer transform
            transition duration-1000 hover:scale-95"
            >
              <div>
                <div
                  class="flex items-center justify-center w-12 h-12 mx-auto text-black rounded-xl"
                >
                  <Image
                    src={bedImg}
                    alt="apartment img"
                    width="64"
                    class="inline-block mb-2"
                  />
                  <!-- <img src="/src/img/bed.svg" alt="" /> -->
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-Primary-Blue"
                >
                  Bedding <br /> and towels
                </p>
              </div>
            </div>
            <div
              class="bg-white h-[250px] py-16 rounded-xl drop-shadow-lg cursor-pointer transform
            transition duration-1000 hover:scale-95"
            >
              <div>
                <div
                  class="flex items-center justify-center w-12 h-12 mx-auto text-black rounded-xl"
                >
                  <Image
                    src={bikeImg}
                    alt="apartment img"
                    width="64"
                    class="inline-block mb-2"
                  />
                  <!-- <img src="/src/img/bike.svg" alt="" /> -->
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-Primary-Blue"
                >
                  Bike <br /> rental
                </p>
              </div>
            </div>

            <div
              class="bg-white h-[250px] py-16 rounded-xl drop-shadow-lg cursor-pointer transform
            transition duration-1000 hover:scale-95"
            >
              <div>
                <div
                  class="flex items-center justify-center w-12 h-12 mx-auto text-black rounded-xl"
                >
                  <Image
                    src={soupImg}
                    alt="apartment img"
                    width="64"
                    class="inline-block mb-2"
                  />
                  <!-- <img src="/src/img/soup.svg" alt="" /> -->
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-Primary-Blue"
                >
                  Toiletries
                </p>
              </div>
            </div>
            <div
              class="bg-white h-[250px] py-16 rounded-xl drop-shadow-lg cursor-pointer transform
            transition duration-1000 hover:scale-95"
            >
              <div>
                <div
                  class="flex items-center justify-center w-12 h-12 mx-auto text-black rounded-xl"
                >
                  <Image
                    src={timeImg}
                    alt="apartment img"
                    width="64"
                    class="inline-block mb-2"
                  />
                  <!-- <img src="/src/img/time.svg" alt="" /> -->
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-Primary-Blue"
                >
                  Late check-out
                </p>
              </div>
            </div>
            <div
              class="bg-white h-[250px] py-16 rounded-xl drop-shadow-lg cursor-pointer transform
            transition duration-1000 hover:scale-95"
            >
              <div>
                <div
                  class="flex items-center justify-center w-12 h-12 mx-auto text-black rounded-xl"
                >
                  <Image
                    src={clearImg}
                    alt="apartment img"
                    width="64"
                    class="inline-block mb-4"
                  />
                  <!-- <img src="/src/img/clear.svg" alt="" /> -->
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-Primary-Blue"
                >
                  Housekeeping
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
